// 颜色定义规范
$color-background = #ffffff
$color-background-a= #999999
$color-background-b =#000000
$color-background-c = #F2F5F1
$color-theme = #369c47
$color-favorite = #fb5353
$color-text = #000000
$color-text-a =#333333
$color-text-b =#777777
$color-text-c = #999999
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-e = rgba(255, 255, 255, 0.5)
$color-text-f = rgba(255, 255, 255, 0.8)
$color-text-g = #ffffff
$color-border = rgba(255, 255, 255, 0.1)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 20px
$font-size-large-xx = 23px
$font-size-large-xxx = 28px
